<!DOCTYPE html>
<html>
    <head>
        <title>About Page for UWEAST - CK</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/about.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>

        <div class="site-section mb-5">
            <div class="container">
              <div class="row mb-5">
                <div class="col-md-12 mb-5"><h1>Our History</h1></div>
                <div class="col-md-6">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, necessitatibus officiis facere nisi et, ut adipisci a quis quisquam vitae doloremque tempora repellat quae accusantium atque eum voluptatibus aperiam cumque.</p>
                    <p>Quia ratione, eum harum ab similique mollitia, nisi itaque vel voluptas ipsam dolore perferendis. Deleniti voluptatum error possimus ipsum, sed, obcaecati. Sit unde quia eum repudiandae molestiae reprehenderit harum nesciunt.</p>
                    
                  </div>
                  <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, necessitatibus officiis facere nisi et, ut adipisci a quis quisquam vitae doloremque tempora repellat quae accusantium atque eum voluptatibus aperiam cumque.</p>
                    <p>Quia ratione, eum harum ab similique mollitia, nisi itaque vel voluptas ipsam dolore perferendis. Deleniti voluptatum error possimus ipsum, sed, obcaecati. Sit unde quia eum repudiandae molestiae reprehenderit harum nesciunt.</p>
                  </div>
              </div>
              
              <div class="row mt-5">
                <div class="col-md-12 mb-5 text-center mt-5">
                  <h2>Kitchen Volunteers</h2>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="volunteer text-center">
                    <div class="volunteer-img">
                      <div class="volunteer-header">
                        <img src="" alt="Image placeholder">
                        <h3 class="volunteer-heading">Person 1</h3>
                        <p class="volunteer-subheading">Cook</p>
                      </div>
                      <div class="volunteer-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                  <div class="volunteer text-center">
                    <div class="volunteer-img">
                      <div class="volunteer-header">
                        <img src="images/person_2.jpg" alt="Image placeholder">
                        <h3 class="volunteer-heading">Person 2</h3>
                        <p class="volunteer-subheading">Cook</p>
                      </div>
                      <div class="volunteer-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="volunteer text-center">
                      <div class="volunteer-img">
                        <div class="volunteer-header">
                          <img src="images/person_2.jpg" alt="Image placeholder">
                          <h3 class="volunteer-heading">Person 3</h3>
                          <p class="volunteer-subheading">Cook</p>
                        </div>
                        <div class="volunteer-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="volunteer text-center">
                      <div class="volunteer-img">
                        <div class="volunteer-header">
                          <img src="images/person_2.jpg" alt="Image placeholder">
                          <h3 class="volunteer-heading">Person 4</h3>
                          <p class="volunteer-subheading">Cook</p>
                        </div>
                        <div class="volunteer-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
    </body>

    <script src="/js/about.js"></script>
</html>