<!DOCTYPE html>
<html>
    <head>
        <title>UWEAST Community Kitchen</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/example.css">
        <link rel="stylesheet" type="text/css" href="/css/about.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>
        <h1><center>UWEAST Community Kitchen</center></h1>
    </body>
</html>