<!DOCTYPE html>
<html>
    <head>
        <title>Landing Page</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/example.css">
        <link rel="stylesheet" type="text/css" href="/css/about.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>
        


        <div class="example">
            <a href="/example">Let's have a look at another example page</a>
        </div>
        <div class="about">
            <a href="/about">About</a>
        <div class="orders">
            <a href="/orders">Orders</a>
        </div>

        <div class="contact">
            <a href="/contact">Contact Us</a>
        </div>
        <div class="example">
            <a href="/menu">Let's have a look at the menu page</a>
        </div>
    </body>
</html>