<html>
  <%- include partials/navbar.ejs %>
  <form class="createItem">
    <p>id</p>
    <textarea name = "id"></textarea>
    <p>name</p>
    <textarea name = "name"></textarea>
    <p>description</p>
    <textarea name = "description"></textarea>
    <p>price</p>
    <textarea name = "price"></textarea>
    <p>category</p>
    <select id="category" name="category">
      <option value="appetizer">Appetizer</option>
      <option value="main">Main</option>
      <option value="side">Side</option>
      <option value="drink">Drink</option>
    </select>
    <p>image</p>
    <textarea name = "image"></textarea>
    <p>vegan</p>
    <select id="vegan" name="vegan">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>




    <button class="random">
      <span>submit</span>
    </button>


  </form>
  <script src="/js/items.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html> 