<html>
  <form class="createItem">
    <p>id</p>
    <textarea name = "id"></textarea>
    <p>name</p>
    <textarea name = "name"></textarea>
    <p>description</p>
    <textarea name = "description"></textarea>
    <p>price</p>
    <textarea name = "price"></textarea>
    <p>category</p>
    <select id="category" name="category">
      <option value="appetizer">Appetizer</option>
      <option value="main">Main</option>
      <option value="side">Side</option>
      <option value="drink">Drink</option>
    </select>
    <p>image</p>
    <textarea name = "image"></textarea>
    <p>vegan</p>
    <select id="vegan" name="vegan">
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>




    <button class="random">
      <span>submit</span>
    </button>


  </form>
  <script src="/js/items.js"></script>
</html> 