<!DOCTYPE html>
<html>
    <head>
        <title>Menu Page for UWEAST - CK</title>
        <meta charset="utf-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/menu.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>

        <!--<div class="menuExample"> // Example code
            This menu is so awesome!

            <br>

            <button id="sendMenuData">I want fries!</button>
            <br>
            <p id="menuInfo"></p>
        </div>-->
        
        
        <div class="container">
            <h1>Appetizers</h1>
            <div class="text-center"> <!--Button trigger modal: CHANGE LATER-->
                <button type="button" id="modal-trig" class="btn btn-primary">
                    Sample menu item
                </button>
            </div>
        
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7"> <!--Sample Image of Pancakes-->
                            <img style="width: 100%; border-radius: 25px" src="https://www.kingarthurflour.com/sites/default/files/recipe_legacy/48-3-large.jpg">
                            <br></br>
                            <p style="color:grey; font-weight: bold">Dietary Information</p>
                        </div>
                        <div class="col-md-5"> <!--Info Column-->
                            <h2 style="font-weight: bolder">Food Name</h2>
                            <h2 style="font-weight: 300">Item Description</h2>

                            <div class="item-details"> <!--Choosing Size with radio buttons-->
                                <div class="item-details-box">
                                    <p class="detail">Choose Size</p>
                                    <p class="req-or-opt">Required</p>
                                </div>
                                <div class="forms">
                                    <div class="form-check"> 
                                        <input class="form-check-input" type="radio" name="sizeRadios" id="small" value="sm">
                                        <label class="form-check-label" for="sizeRadios1">
                                            Small
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sizeRadios" id="medium" value="med">
                                        <label class="form-check-label" for="sizeRadios2">
                                            Medium
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="sizeRadios" id="large" value="lg">
                                        <label class="form-check-label" for="sizeRadios3">
                                            Large
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="item-details"> <!--Choosing Sides with checkboxes-->
                                <div class="item-details-box">
                                    <p class="detail">Sides</p>
                                    <p class="req-or-opt">Optional</p>
                                </div>
                                <div class="forms">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="sideBox" id="ex1" value="XX">
                                        <label class="form-check-label" for="sideBox1">
                                            XX
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="sideBox" id="ex2" value="YY">
                                        <label class="form-check-label" for="sideBox2">
                                            YY
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="sideBox" id="ex3" value="ZZ">
                                        <label class="form-check-label" for="sideBox3">
                                            ZZ
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="item-details"> <!--Providing special instructions-->
                                <div class="item-details-box">
                                    <p class="detail">Special Instructions</p>
                                    <p class="req-or-opt">Optional</p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="specialInstructionsText" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="item-details"> <!--Controlling quantity-->
                                <div class="item-details-box">
                                    <p class="detail">Quantity</p>
                                </div>
                                <div class="quantity-buttons d-flex justify-content-center">
                                    <button class="num btn" id="subtract">-</button>
                                    <span id="quantity">1</span>
                                    <button class="num btn" id="add">+</button>
                                </div>
                            </div>
                            
                            <button type="button" class="btn btn-dark id="cartButton">
                                <div class="add-cart"><span id="cart-text">Add 1 to cart</span><span id="add-price">$00.00</span></div>
                            </button>

                            <div class="price">$$$</div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/menu.js"></script>
</html>