<!DOCTYPE html>
<html>
    <head>
        <title>Menu Page for UWEAST - CK</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/example.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>

        <div class="menuExample">
            This menu is so great!

            <br>

            <button id="sendMenuData">I want fries!</button>
            <br>
            <p id="menuInfo"></p>
        </div>
    </body>

    <script src="/js/menu.js"></script>
</html>