<!DOCTYPE html>
<html>
    <head>
        <title>Orders Page for UWEAST - CK</title>
        <meta charset="utf-8">

        <link rel="stylesheet" type="text/css" href="/css/orders.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    </head>

    <body>
        <!-- Takes navbar ejs and inserts it here. -->
        <%- include partials/navbar.ejs %>
    </body>

    <script src="/js/orders.js"></script>
    <head>
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
      </head>
      <body>
        <table id="example">

          <thead>
            <tr><th>Order ID</th><th>Name</th><th>Date</th><th>Details</th></tr>
          </thead>
          <tbody>
            <% orders.forEach(function(order) { %>
            <tr><td> order.id</td><td>order.total</td><td>order.date</td><td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal">
              Details
          </button></td></tr>
          <% }); %>
          <!--<tr><td> example</td><td>nameExample</td><td>today</td><td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detailModal">
            Details
        </button></td></tr>-->
          </tbody>
        </table>

        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Order Details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    <a href="#" class="btn btn-primary btn-lg disabled" role="button" aria-disabled="true">Make Complete</a>
                  </div>
              </div>
          </div>
      </div>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
        <script>
        
        $(function(){
          $("#example").dataTable();
        })
        </script>
      </body>
</html>
